@font-face {
  font-family: "Latin Modern Math";
  src: url("../assets/fonts/latin-modern/latin-modern-math.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("../assets/fonts/latin-modern/latin-modern-roman-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("../assets/fonts/latin-modern/latin-modern-roman-bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("../assets/fonts/latin-modern/latin-modern-roman-italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Latin Modern Roman";
  src: url("../assets/fonts/latin-modern/latin-modern-roman-bolditalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}

body {
  background: #efebca;
  block-size: 100vh;
  display: grid;
  gap: 2em 1em;
  grid-template:
    "sidebar .     .      ." 0
    "sidebar input output ." 1fr
    "sidebar .     .      ." 0
    / 14ch auto 1fr 0;
  margin: 0;
}

.sidebar {
  background: #3d4a22;
  color: wheat;
  grid-area: sidebar;
  overflow-y: auto;
}

.sidebar .title {
  display: block;
  margin-block: 1em;
  text-align: center;
}

.sidebar .notebooks {
  list-style: none;
  margin-block: 1em;
  padding: 0;
}

.sidebar .notebook {
  align-items: center;
  display: flex;
  margin-block: 0.5ex;
}

.sidebar .notebook a {
  color: inherit;
  text-decoration: none;
}

.sidebar .notebook .edit-field {
  background: transparent;
  border: none;
  border-block-end: 1px solid wheat;
  color: wheat;
  inline-size: calc(100% - 5.5ch);
}

.sidebar .notebook .edit-button,
.sidebar .notebook .done-button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 0.75em;
  margin-inline-start: auto;
  padding: 0;
}

.sidebar .create-new {
  background: gold;
  border-radius: 3px;
  color: black;
  padding: 0.5ex 1ex;
}

.input {
  display: flex;
  grid-area: input;
  inline-size: 42ch;
  flex-flow: column;
  overflow-y: auto;
  scrollbar-width: thin;
}

.input textarea {
  flex-grow: 1;
  scrollbar-width: thin;
}

.output {
  background: white;
  padding: 1ex 2em;
  grid-area: output;
  overflow-y: auto;
  scrollbar-width: thin;
}

.output {
  font-family: "Latin Modern Roman", serif;
}

.output h1 {
  font-size: 3em;
  text-align: center;
}

.output math {
  font-family: "Latin Modern Math", math;
}

@media print {
  body {
    background: transparent;
    display: block;
  }

  .sidebar,
  .input {
    display: none;
  }

  .output {
    background: transparent;
    padding: 0;
  }
}
